body {
    color: #0F2931;
}
.formTitle, .table {
    margin-top: 2rem;
}
.nav-link:hover, .btn:hover {
    text-decoration: underline;    
}
.hero {
    margin-bottom: 2rem;
}
.table .thead-dark th {
    background-color: #0F2931;
    border-color: #0F2931;
}
.dropdown-divider, .card, .form-control {
    border-color: #0F2931;
}
.form-control, .form-control:focus {
    background-color: #e4f2f7;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(187,57,155,.25);
    border-color: #a7338b;
}
footer {
    font-size: 0.5rem;
    color: #a7338b;
}







